
RazlageneNaChisloDoProstiDeliteli/RazlaganeNaChisloDoProstiDeliteli/.vs/RazlaganeNaChisloDoProstiDeliteli/v16/Server/sqlite3/db.lock
RazlageneNaChisloDoProstiDeliteli/RazlaganeNaChisloDoProstiDeliteli/.vs/RazlaganeNaChisloDoProstiDeliteli/v16/Server/sqlite3/storage.ide
*.ide-wal
RazlageneNaChisloDoProstiDeliteli/RazlaganeNaChisloDoProstiDeliteli/.vs/RazlaganeNaChisloDoProstiDeliteli/v16/Server/sqlite3/storage.ide-shm
